<html ng-app='wtab' ng-controller="Controller" data-ng-init="init()">
<head>
	<link rel="stylesheet" href="css/wtab.css" type="text/css"/>

  <script src="js/jquery-2.2.1.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-resource.min.js"></script>
	<script src="js/wtab.js"></script>
</head>
<body>

<div ng-show="page == CHOOSE_SONG_PAGE">
	<div ng-show="songs.length > 0">
		Songs : 
		<ul>
			<li ng-repeat="song in songs">
				<a href="" ng-click="editSong(song)">{{ song }}</a>
			</li>
		</ul>
	</div>
	<div ng-show="songs.length == 0">
		Sorry, no song yet!
	</div>
	<a href="" ng-click="addSong()">add a new song</a>
</div>

<div ng-show="page == CREATE_SONG_PAGE">
	creating a new song named <input type="text" ng-model="newSongName" placeholder="song name" />
	<input type="button" value="create" ng-show="newSongName.length > 0" ng-click="doCreateSong(newSongName)"/>
</div>

<div ng-show="page == EDIT_SONG_PAGE">
	<p>editing song <span ng-show="dirty">*</span><b>{{song}}</b> <span ng-show="dirty">*</span>| <label>horizontal mode<input type="checkbox" ng-model="horizontalMode"></label></p>
	<canvas id="tab" ng-keydown="onKeydown($event)" ng-keyup="onKeyup($event)" ng-keypress="onKeypress($event)" tabindex="1"></canvas>
</div>

</body>
</html>
